@model QUANLYSINHVIEN.Models.accout

@{
    ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    @using (Html.BeginForm("DangNhap", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <h2>Tạo Tài Khoản</h2>
            <form action="/action_page.php">
                <div class="form-group">
                    <label for="email">Email:</label>

                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-user" })
                </div>
                <div class="form-group">
                    <label for="Username">Username:</label>

                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-user" })
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-user" })
                </div>
                <div class="form-group">
                    <label for="RoleID">RoleID:</label>

                    @Html.TextBoxFor(m => m.RoleID, new { @class = "form-control form-control-user" })
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="remember"> Remember me
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    }
</body>
</html>

