<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Trang chủ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-sm bg-light text-dark w-100">
                <ul class="nav navbar-nav">

                    <li class="nav-item mx-5">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="nav-item mx-5">@Html.ActionLink("Sinh Viên", "Index", "SinhViens")</li>
                    <li class="nav-item mx-5">@Html.ActionLink("Môn Học", "Index", "MonHocs")</li>
                    <li class="nav-item mx-5">@Html.ActionLink("Điểm Thi", "Index", "DiemThis")</li>

                    @if (Session["Username"] == null)
                    {
                        <li class="nav-item mx-5">@Html.ActionLink("Đăng Ký", "DangKy", "Home")</li>
                        <li class="nav-item mx-5">@Html.ActionLink("Đăng Nhập", "DangNhap", "Home")</li>
                    }
                    else
                    {
                        <li>Xin chào:@Session["Username"]</li>
                        <li>
                            @Html.ActionLink("Đăng Xuất", "Logout", "Home")
                        </li>
                    }
                </ul>
            </nav>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            @*<footer>
                <p>&copy; @DateTime.Now.Year</p>
            </footer>*@
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

</body>
</html>