@model QUANLYSINHVIEN.Models.SinhVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        <dt>
            Mã Sinh Viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSv)
        </dd>

        <dt>
            Tên Sinh Viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSv)
        </dd>

        <dt>
            Giới Tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>

        <dt>
            Mã Lớp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLop)
        </dd>

        <dt>
            Mã Khoa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaKhoa)
        </dd>

        <dt>
            Số Điện thoại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaSv }) |
    @Html.ActionLink("Back to List", "Index")
</p>
